#mbus{
    width: 98%;
    height:600px;
    margin-top: 4%;
    margin-left: 1%;
}

#mtext{
    color:white;
    margin-top:-30%;
    margin-left: 5%;
    font-size: 50px;
}
body{
    font-family: 'Poppins', sans-serif;
}

 