.filter{
    border:1px solid black;
    box-shadow: 1px 1px 2px grey;
    margin-left: 1%;
    margin-top: 2%;
    height:500px;
    width: 20%;
    float:left;
}

.containerr{
    border:1px solid black;
    margin-left: 25%;
    margin-top: 5%;
    height:800px;
    width: 70%;
}

.card{
    box-shadow: 1px 2px 2px grey ;
    height:300px;
    margin-top: 5%;
    border:1px solid black;
}

.pic{
    height:100%;
    float:left;
}
.context{
    margin-left:46%;
    margin-top: 5%;
    

    
}
.context>span{
    word-spacing: 90px;;
}

.subtext1{
    font-size:22px;
    font-weight:bold;
}

.subtext2{
    font-size:16px;
    color:grey;
}

 .butto {
    height:30px;
    width:60px;
    
} 

.features{
    word-spacing: 40px;
    line-height: 90px;
}

.but{
    margin-left: 60%;
    text-decoration: none;
    
}

.rup{
    font-size:22px;
    font-weight:bold;
    float:left;
}

.bbut {
    margin-left: 54%;
    height: 50px;
    width: 70%;
    margin-top: -1%;
}
.nodata >img{
    margin-left: 38%;
    height: 156px;
    width: 20%;
    margin-top: 21%

}

.nodatatext{
    margin-left: 36%;
    font-size: 30px;
    margin-top: 3%;
}

.gif >img{
    margin-left: 38%;
    height: 156px;
    width: 20%;
    margin-top: 21%

}

.giftext{
    margin-left: 36%;
    font-size: 30px;
    margin-top: 3%;
}
 