.picd{
    height: 450px;
    width:45%;
    margin-left:2%;
    padding:2%;
    
}
 

.details{
    
    margin-left:5%;
    /* border:1px solid black; */
    width:50%;
    float:left;
    margin-top:2%;

}
.heading{
    font-size:36px;font-weight:bold;
}
.subheading{
    color:grey;
}
.card1{
    height:250px;
    width:40%;
    /* 
     */
     box-shadow:10px 10px 10px grey;
    margin-left: 9%;
    margin-top:5%;
    float:left;
}
.img>img{
    height:200px;
    width:100%;
}
.card-text{
    font-size:30px;
    margin-left:4%;
}
.card-rate{
    margin-left:40%;

}

#oyoad{
    margin-left: 9%;
    margin-top:10%;
    
    height:250px;
    width:90%;

}
 

.payment{
    border:1px solid black;
    margin-left: 9%;
    margin-top:2%;
    float:left;
    height:750px;
    width:30%;
}
.paycontent{
    margin-left:5%;
}

.login{
    height:12%;
    background-color:rgb(243, 42, 42);
}
.book{
    color:white;
    font-size:30px;
    margin-left:2%;
    font-weight:bold;
    text-align:center;
}
.price{
    margin-left:2%;
    margin-top:4%;
    font-size:30px;
}
.choose{
    font-size:25px;
    
}
.date{
    margin-left:4%;
    
}
.cat{
    font-size:30px;
    margin-top:10%;
}

.select>select{
    height:30px;
    width:50%;
}
.cata{
    margin-top:9%;
}
.roomno{
    height:60px;
    width:70%;
    margin-left:9%;
    margin-top:9%;
    
}
.roo{
    font-size:20px;
}
.box{
    height:40px;
    width:90%;
    margin-left:1%;
    margin-top:9%;
    box-shadow:1px 1px 3px grey;
}
.boxx{
    font-size:17px;
    margin-left:2%;
    color:red;
    text-align:center;
     
}

.pricee{
    height:40px;
    width:90%;
    margin-left:1%;
    margin-top:9%;
 
}

.prices{
    font-size:20px;
}
.pricef{
    margin-left:50%;
    font-size:20px;
    font-weight:bold;
}

.but{
    margin-left:14%;
    height:50px;
    width:70%;
    margin-top:5%;
}

 